#taxonomy_image_add_button,
#taxonomy_image_remove_button {
	font-size: 12px;
}

#taxonomy_image_placeholder img {
	display: block;
	padding-bottom: 6px;
}

#taxonomy_image_remove_button {
	display: none;	
}

.column-taxonomy_description_column {
	color: #666;
}

#taxonomy_image_column {
	width: 70px;
}